*{
    font-family:cursive;
    padding:0px;
    margin:0px;
    box-sizing:border-box;}

.container{
    width:100%;
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:black;
}
#time{
    display:flex;
    gap:40px;
    color:#ffffff;
}

#time .circle{
    position:relative;
    width:150px;
    height:150px;
    display:flex;
    justify-content:center;
    align-items:center;
}

#time .circle svg{
    position:relative;
    width:150px;
    height:150px;
    transform:rotate(270    deg);
}

#time .circle svg circle{
    width:100%;
    height:100%;
    fill:transparent;
    stroke:#ffffff;
    stroke-width:5px;
    transform:translate(5px,5px);
}

.dots{
    position:absolute;
    width:100%;
    height:100%;
    display:flex;
    justify-content:center;
    z-index: 10;
}

.dots::before{
    content: "";
    position: absolute;
    bottom: 3px;
    width: 15px;
    height: 15px;
    background: var(--color);
    border-radius: 50%;
    box-shadow: 0 0 20px var(--color), 0 0 60px var(--color), 0 0 40px var(--color);
}