body{
    background-color:black;
    background-image: url("fire.png");
    background-repeat:repeat-x;
    background-position:0px 650px;
    color:#651102;
}

#alrdd{
    font-size: 70px;
    font-family:"Dejavu Sans Mono";
    border: 5px solid black;
    width:fit-content;
    padding: 20px 0px;
}

.underline{
    text-decoration:underline;
}

.overline{
    text-decoration:overline;
}