body{
    background-color:black;
    color:#651102;
}

#alrdd{
    font-size: 70px;
    font-family:"Dejavu Sans Mono";
    border: 5px solid black;
    width:fit-content;
    padding: 20px 0px;
}

.underline{
    text-decoration:underline;
}

.overline{
    text-decoration:overline;
}

#fire{
    position:fixed;
    top: 650px;
}